.controls {
  background-color: $background;
  padding: 12px;
  border-radius: 12px;
}

.screenshot-control,
.wifi-control,
.bluetooth-control,
.idle-control,
.game-mode-control,
.power-mode-menu-control,
.dnd-control,
.night-mode-control,
.music-control {
  background-color: mix($background, $color1, 90%);
  padding: 10px;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  font-size: 20px;
  min-width: 18px;
}

.volume-control,
.brightness-control,
.microphone-control {
  background-color: mix($background, $color1, 90%);
  padding: 4px;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  font-size: 16px;
  min-width: 16px;
}

.screenshot-control:hover,
.wifi-control:hover,
.bluetooth-control:hover,
.idle-control:hover {
  background-color: mix($background, $color1, 80%);
}

.screenshot-icon-control,
.wifi-icon-control,
.idle-icon-control {
  margin: 0 10px 0 7px;
}
// Mis nuevos widgets con margin size
.game-mode-control,
.power-mode-menu-control,
.dnd-control,
.night-mode-control,
.music-control {
  margin: 0px;
  padding: 10px;
}
.volume-icon-control,
.brightness-icon-control {
  margin: 0 10px 0 6px;
}

.bluetooth-icon-control {
  margin: 0;
}

.brightness-control-bar trough,
.volume-control-bar trough {
  background-color: mix($background, $foreground, 80%);
  border-radius: 5px;
  min-height: 8px;
  min-width: 170px;
  margin: 6px 0;
}

.brightness-control-bar trough highlight,
.volume-control-bar trough highlight {
  min-height: 8px;
  background-color: mix($color5, $foreground, 90%);
  border-radius: 5px;
}
.device-control-wrapper {
  background-color: transparent;
}

.trigger-area {
  padding: 0px 0px;
  border-radius: 8px;
  margin-bottom: 8px;

  &:hover {
    transition: background-color 0.3s ease;
  }
}

.trigger-content {
  min-width: 10px; // Asegura espacio suficiente
}

.device-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: transparentize($foreground, 0.65);
}

.trigger-icon {
  font-size: 16px;
  color: $background;
}
